* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#ddd;
    color: white;
}
.nav{
    background-color: black ;
    display: flex;
    justify-content: space-between;

}
.nav .logo{
    color: white;
    text-decoration: none;
    padding: 15px;
    color: cornflowerblue;
    font-weight: bold;
}
.nav .list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav .list li a{
    padding: 13px 30px;
    align-self: center;
    text-decoration: none;
    color: white;
}
.nav .list li a:hover{
    color: cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
}
.nav .list li a.active{
    color: cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
}

.container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .ep{
    position: relative;
    margin: 15px;
    max-width: 300px;
}
.container .ep .info .title{
    position: absolute;
    bottom: 0;
    background-color: rgb(41, 47, 77, 0.8);
    z-index: 2;
    width: 100%;
    padding: 20px;
    font-size: 1.0em;
}
.container .ep .info .discription{
    visibility: hidden;
    position: absolute;
    background-color: rgb(41, 47, 77, 0.8);
    width: 100%;
    bottom: 0;
    padding: 20px;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    opacity: 0;
}

.container .ep img{
    max-width: 100%;
    height: 300px;
}

.container .ep:hover  .info .discription{
    visibility: visible;
    opacity: 1.0;
}
.container .ep:hover .info .title{
    display: none;
}

@media screen and (max-width: 800px){

    .container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;

    }
    .container .ep{
        position: static;
        display: flex;
        max-width: 100%;
    }
    .container .ep .info{
        display: flex;
        flex-direction: column;
        
    }
    
    .container .ep .info .discription{
        display: inline-block;
        visibility: visible;
        position: static;
        height: 100%; 
        opacity: 1.0;
    }
    .container .ep .info .title{
        display: inline-block;
        position: static;
        font-size: 1.4em;
    }
    .container .ep:hover .info .discription{
        display: inline-block;
        visibility: visible;
        opacity: 1.0;
    }
    .container .ep:hover .info .title{
        display: inline-block;
    }
    .container .ep img{
        max-width: 30%;
        height: 200px;
    }
}

.footer{
    background: black;
    padding: 30px;
    text-align: center;
    color: white;
}